*
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(44, 39, 39);

}
.header 
{
    margin: 1%;
    text-align: center;
    padding: 10px;
}
.header a {
    padding: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 30%;
    margin-inline: 10px;
}
.content
{
    margin: 20%;
}

.content p 
{
    font-size: 26px;
}
.content .name
{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(222, 110, 110);
    font-size: 30px;
}
.content .photo {
    height: 200px;
    width: 200px;
    margin-inline: auto;
}
.content .photo img {
    height: inherit;
    width: inherit;
    border-radius: 50%;
    display: inline-block;
}